@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
background: #000;
background: -moz-linear-gradient(top, #67CCEB 0%, #000000 75%, #000000 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #67CCEB), color-stop(75%, #000000), color-stop(100%, #000000));
background: -webkit-linear-gradient(top, #67CCEB 0%, #000000 75%, #000000 100%);
background: -o-linear-gradient(top, #67CCEB 0%, #000000 75%, #000000 100%);
background: -ms-linear-gradient(top, #67CCEB 0%, #000000 75%, #000000 100%);
background: linear-gradient(to bottom, #67CCEB 0%, #000000 75%, #000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67CCEB', endColorstr='#000000', GradientType=0 );
	color: #111;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	min-width: 600px;
}
h1 {
	font-size: 20px;
	line-height: 24px;
}
h2 {
	font-size: 18px;
	line-height: 22px;
}
h3 {
	font-size: 16px;
	line-height: 20px;
}
a {
	background-color: inherit;
	color: #EBCD5B;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
blockquote {
	background-color: inherit;
	color: #999;
	font: italic 15px "Times New Roman", serif;
	border-left: 5px solid #EBCD5B;
	padding: 2px 15px;
}

#wrapper {
	background: #fff;
	border: none;
	padding: 10px;
	margin: 1% auto;
	width: 90%;
}

#body {
	margin: 0;
}

#container {
	padding: 0;
	margin: 0;
}

#banner {
	position: relative;
	padding: 10px;
	height: 175px;
	border: 0px;
	color: #fff;
	background: #7FB5EB;
	
}

#banner h1 {
	font-size: 32px;
}

ul#topnav {
	list-style-type: none;
	margin: 0 0 0 1%;
	display: table;
	padding: 0;
	overflow: hidden;
	width: 60%;
	position: absolute;
	bottom: 0;
}

ul#topnav li {
	display: table-cell;
	text-align: center;
}

ul#topnav li a {
	background: #333;
	color: white;
	border: none;
	display: block;
	margin-right: 5px;
	padding: 5px 0px;
	text-decoration: none;
	font-size: 12px;
}

ul#topnav li a.active,
ul#topnav li a.active:hover {
	background: #fff;
	color: #333;
}

ul#topnav li a:hover {
	background: #EBCD5B;
	color: #111;
}

#content {
	text-align: left;
	padding: 20px;
	margin-right: 245px;
}

#content ul {
	list-style: none;
}

#content ul li {
	padding: 2px 0 2px 10px;
	margin: 0;
}

#content ul li:before {
	content: "\00BB  ";
	color: #EBCD5B;
}

#content .item {
	line-height: 1.25em;
	margin: 0;
}

#content .item p {
	text-align: justify;
}

#content .item span {
	background-color: inherit;
	color: #999;
	font-size: 11px;
}

#quote img {
	float: right;
}

#footer {
	padding: 10px;
	height: 20px;
	border: 0px;
	color: #333;
	font-size: 12px;
	background: #7FB5EB;
	clear: both;
}

#footer a {
	background-color: inherit;
	color: #333;
}

#footer a:hover {
	background-color: inherit;
	color: #fff;
	text-decoration: none;
}

#footer span.left {
	text-align: left;
	padding-left: 15px;
	float: left;
}

#footer span.right {
	text-align: right;
	padding-right: 15px;
	float: right;
}

#footer p.show-footer {
	margin: 0;
	display: none;
}

table {
	border: 3px solid #EBCD5B;
	padding: 1%;
	margin-left: 10%;
	margin-right: 10%;
	width: 70rem;
}

td {
	border: 1px solid #EBCD5B;
	width: auto;
	text-align: center;
}
.width2 {
	width: 80px;
}
#contenedor {
    display: flex;
    justify-content:first baseline;
    margin-left: 500px;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}
#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #7FB5EB;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}
#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #EBCD5B;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #EBCD5B;
    margin-top: 10px;
}

#login button:hover {
    background-color: #1b262c;
    color:#bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #19a3ff;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical
  }
  
input[type=submit] {
	background-color: #EBCD5B;
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
input[type=submit]:hover {
	background-color: #1b262c;
	color: #bbe1fa;
  }
  
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }